<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="tabla">
    <table id="tabla_departamentos">
        <tr>
            <th th:text="#{numero}"></th>
            <th th:text="#{nombre}"></th>
            <th th:text="#{localidad}"></th>
            <th th:text="#{fechaCreacion}"></th>
            <th th:text="#{editar}"></th>
            <th th:text="#{borrar}"></th>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript" th:src="@{/js/main_ajax.js}"></script>
</html>