<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="tabla">
    <table id="tabla_departamentos">
        <tr>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th>Fecha de creacion</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript" th:src="@{/js/main_ajax.js}"></script>
</html>