<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departamento</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/departamentos/actualizar/__${departamento.id}__}" method="post" th:object="${departamento}">
    <table>
        <tr>
            <th><label th:for="numero" th:text="#{numero}" /></th>

            <td>
                <input th:field="*{numero}" th:if="${editable}">
                <input th:field="*{numero}" th:unless="${editable}" disabled>
            </td>
        </tr>
        <tr>
            <th><label th:for="nombre" th:text="#{nombre}" /></th>
            <td>
                <input th:field="*{nombre}" th:if="${editable}">
                <input th:field="*{nombre}" th:unless="${editable}" disabled>
            </td>
        </tr>
        <tr>
            <th><label th:for="localidad" th:text="#{localidad}" /></th>
            <td>
                <input th:field="*{localidad}" th:if="${editable}">
                <input th:field="*{localidad}" th:unless="${editable}" disabled>
            </td>
        </tr>
        <tr>
            <th><label th:for="fechaCreacion" th:text="#{fechaCreacion}" /></th>
            <td>
                <input th:field="*{fechaCreacion}" th:if="${editable}">
                <input th:field="*{fechaCreacion}" th:unless="${editable}" disabled>
            </td>
        </tr>
    </table>
    <input type="submit" value="Guardar" th:if="${editable}"/>
</form>
<button onclick="window.location.href='/departamentos/listado-departamentos'">Volver a la lista</button>
</body>
<script>
    if([[${correcto}]]){
        alert("Departamento [[${departamento.nombre}]] actualizado con exito.");
    }
</script>
</html>